// стиль для страницы Game
.blog {
    display: flex;
    flex-direction: row;
}

.left-blok {
    display: table;
    margin-left: 30px;
    padding: 10px;
    width: 20%;
    text-align: left;
    border: 1px solid beige;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;

    & legend {
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
        letter-spacing: 5px;
        color: beige;
        text-shadow: 0 0 20px rgb(202, 44, 44);    
    }
}

.setting-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-blok {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;

    & .btn {
        margin: 10px;
        border: 1px solid beige;
        color: beige;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);

        &:hover {
            background-color: rgb(67, 122, 22);
        }
        &:focus {
            background-color: rgb(170, 168, 32);
            outline: none;
        }
        &:active {
            background-color: rgb(212, 82, 31);
        }
    }
}

.hidden {
    display: none !important;
}

.right-blok {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border: 1px solid beige;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    
    &__image {
        width: 300px;
        height: 400px;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 30px;
    }

    &__genre {
        margin: 0;
    }

    &__developer {
        margin: 0;
    }

    &__grade {
        font-size: 28px;
        margin: 0;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }

    .head {
        text-align: center;

        &__title {
            display: block;
            width: 70%;
        }

        & .other {
            display: none;
        }
    }

    .blog {
        display: flex;
        flex-direction: column;
    }

    .left-blok {
        display: none;
    }

    .right-blok {
        // padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        border: 1px solid beige;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        
        &__image {
            width: 90%;
            // height: 400px;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 30px;
        }

        &__genre {
            margin: 0;
        }

        &__developer {
            margin: 0;
        }

        &__grade {
            font-size: 28px;
            margin: 0;
            margin-top: 20px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        min-width: 769px;
        max-width: 1024px;
    }

    .head {
        display: table;

        &__title {
            display: block;
        }

        & .other {
            padding: 0 10px;
            margin: 0 10px;
        }
    }

    .blog {
        display: flex;
        flex-direction: column;
    }

    .left-blok {
        display: none;
    }

    .right-blok {
        // padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        border: 1px solid beige;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        
        &__image {
            width: 90%;
            // height: 400px;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 30px;
        }

        &__genre {
            margin: 0;
        }

        &__developer {
            margin: 0;
        }

        &__grade {
            font-size: 28px;
            margin: 0;
            margin-top: 20px;
        }
    }
    
}

@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        min-width: 1025px;
        max-width: 1440px;
    }

    .blog {
        display: flex;
        flex-direction: row;

        & h1 {
            display: none;
        }
    }

    .left-blok {
        width: 25%;
    }

    .right-blok {
        // padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        border: 1px solid beige;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        
        &__image {
            width: 90%;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 30px;
        }

        &__genre {
            margin: 0;
        }

        &__developer {
            margin: 0;
        }

        &__grade {
            font-size: 28px;
            margin: 0;
            margin-top: 20px;
        }
    }
}

@media (min-width: 1441px) {
    body {
        min-width: 1441px;
    }

    .blog {
        display: flex;
        flex-direction: row;

        & h1 {
            display: none;
        }
    }
}

